__pycache__/
.eggs/
.installed.cfg
.Python
.venv/
.wichy/
*.egg
*.egg-info/
*.py[cod]
*.so
*$py.class
build/
develop-eggs/
dist/
downloads/
eggs/
ENV/
granite-4.0-h-tiny-Q4_K_M.gguf
lib/
lib64/
llama_server_stuff/
parts/
sdist/
var/
venv/
venv/
wheels/
.env
.env.docker
.coverage
src/wichy/.DS_Store
